@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
p::selection,img::selection,a::selection,h1::selection,strong::selection,input::selection{
    background: none;
    color: brown;
}
.section-one{
    background: url(img/img1.avif);
    height: 66vh;
    width: 100%;
    position: relative;
    background-position: center;
    margin-bottom: 45px;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 72px;
}
.app,.links{
    display: flex;
    align-items: center;
}
.app li,
.links li{
    list-style: none;
    margin: 0 15px;
}
.app li a,
.links li a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.links li a{
    font-size: 18px;
    font-weight: 300;
}
.center-img{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.center-img img{
    height: 60px;
}
.paragraph{
    display: flex;
    justify-content: center;
}
.paragraph p{
    font-size: 32px;
    color: #fff;
    text-align: center;
}
.searchcontainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.searchbar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #fff;
    border-radius: 8px;
    height: 50px;
    width: 55%;
}
.searchbar img{
    margin: 0 15px;
}
.drop-down{
    padding: 0 8px;
    border-right: 2px solid #cfcfcf;
}
.searchbar input{
    border: none;
    width: 100%;
}
.searchbar input:focus{
    border: none;
    outline: none;
}
.section-two{
    display: flex;
    justify-content: center;
    height: inherit;
    width: 100%;
}
.card-row,.collection-row{
    display: flex;
    width: 80%;
}
.card-row{
    margin-bottom: 40px;
}
.card,.collection-card{
    height: 240px;
    width: 350px;
    background-size: 80%;
    border: 1px solid lightgray;
    border-radius: 12px;
    margin-right: 15px;
    overflow: hidden;
}
.card-img{
    height: 65%;
    width: 100%;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    background-image: url(img/img2.avif);
    background-size: cover;
    background-position: left;
    cursor: pointer;
}
.card-heading,.card-desc{
    width: 100%;
    color: #363636;
}
.card-heading p{
    font-size: 20px;
    padding: 15px 0 0 15px;
}
.card-desc p{
    font-size: 16px;
    padding: 0 0 0 15px;
}
.two{
    background-image: url(img/img3.avif);
}
.three{
    background-image: url(img/img4.avif);
}
.card:hover{
    transform: scale(1.05);
    transition: 0.3s ease;
}
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-thumb{
    background: url(img/thumb.jpg);
}
::-webkit-scrollbar-track{
    background: url(img/scrollbg.jpg);
}
.section-three{
    display: flex;
    justify-content: center;
    width: 100%;
}
.content{
    display: block;
    width: 80%;
}
.content h1{
    font-weight: 500;
}
.sec-three-cap{
    display: flex;
    justify-content: space-between;
}
.sec-three-cap p{
    font-weight: 300;
}
.sec-three-cap a{
    color: #E8685E;
    flex-wrap: wrap;
    margin-bottom: 35px;
    text-decoration: none;
}
.collection-row{
    width: 100%;
}
.collection-card{
    height: 320px;
    border-radius: 6px;
    background: #000;
}
.collection-img{
    height: 100%;
    width: 100%;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    background-size: cover;
    background-position: left;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    opacity: 75%;
}
.ek{
    background-image: url(img/img6.avif);
}
.doh{
    background-image: url(img/img7.avif);
}
.teen{
    background-image: url(img/img8.avif);
}
.chaar{
    background-image: url(img/img9.avif);
}
.collection-link{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 18%;
    padding: 0 10px;
    color: #fff;
    font-weight: 300;
    background: linear-gradient(#0000000a, #000000b6);
}
.section-four{
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.container .sec-four-title{
    font-size: 32px;
    font-weight: 300;
    color: #363636;
    margin-bottom: 40px;
}
.area-cards{
    display: flex;
}
.card-one{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin: 0 15px 15px 0;
    width: 350px;
    border: 1px solid lightgray;
    border-radius: 8px;
    transition: 0.3s ease;
    cursor: pointer;
    overflow: hidden;
}
.card-one:hover{
    box-shadow: 0 4px;
}
.card-one img{
    margin-right: 15px;
}
.area-details{
    margin: 10px;
}
.last{
    justify-content: center;
}
.area-details p{
    font-size: 16px;
    color: #4d4c4c;
    font-weight: 200;
}
.area-details .twenty{
    font-size: 20px;
    color: #000;
    font-weight: 300;
}
.section-five{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFBF7;
}
.container-five{
    height: 80%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-img-holder{
    display: grid;
    place-items: center;
}
.sec-img-holder img{
    height: 300px;
    margin-right: 10px;
}
.zomato-app-form{
    height: 90%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.zomato-app-form  h1{
    font-size: 44px;
    font-weight: 400;
    color: #1c1c1c;
    margin-bottom: 15px;
}
.zomato-app-form .form-text{
    color: #000;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 1.5;
    width: 85%;
}
.radiobtn{
    width: 50%;
    margin-top: 25px;
}
.radiobtn,.radio-one,.radio-two{
    display: flex;
    justify-content: space-between;
}
.radio-one p,.radio-two p{
    margin-left: 10px;
    font-weight: 300;
    font-size: 16px;
}
.input input{
    width: 60%;
    padding: 10px;
    border-radius: 6px;
    margin-top: 15px;
    outline: none;
    border: 1px solid lightgray;
    font-size: 16px;
    color: #000;
    font-weight: 300;
}
.input a{
    width: 35%;
    padding: 10px;
    font-size: 16px;
    background: #EF4F5F;
    outline: none;
    border-radius: 6px;
    border: none;
    color: #fff;
    font-weight: 300;
    cursor: pointer;
}
.download-app{
    margin-top: 25px;
    font-weight: 300;
    font-size: 14px;
    color: #9FA29F;
}
.app-img{
    display: flex;
    margin-top: 15px;
    flex-wrap: wrap;
}
.app-img img{
    height: 40px;
    margin-right: 15px;
}
.wrapper{
    margin-top: 20px;
}
@media (max-width:650px) {
    
    .container-five{
        height: 80%;
        width: 90%;
        margin: 0 10px;
    }
    .zomato-app-form h1{
        font-size: 20px;
        margin-bottom: 5px;
    }
    .sec-img-holder img{
        height: 200px;
        margin-right: 0;
    }
    .input{
        display: flex;
        flex-wrap: wrap;
    }
    .input a{
        font-size: 16px;
        width: 100px;
        margin: 5px;
        height: 50px;
        text-align: center;
    }
    .input input{
        margin-top: 5px;
    }
    .form-text{
        font-size: 12px;
        margin-bottom: 0;
    }
    .download-app{
        margin-top: 5px;
    }
    .links{
        display: none;
    }
    .radiobtn{
        margin-top: 5px;
    }
    .searchbar{
        width: 90%;
    }
    .paragraph p{
        font-size: 25px;
        width: 70%;
    }
    .collection-card{
        height: 250px;
        width: 30%;
    }
}
.section-six{
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFBF7;
}
.cards h1{
    font-size: 30px;
    color: #363636;
    font-weight: 400;
    background: #FFFBF7;
    margin-bottom: 10px;
}
.cards{
    width: 80%;
    background: #FFFBF7;
}
.card-bucket{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgray;
    background: #fff;
    padding: 5px;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 15px;
}
.card-content p{
    font-size: 18px;
    margin-left: 15px;
}
.card-bucket img{
    margin-right: 15px;
}
span{
    color: red;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid lightgray;
    padding: 15px;
}
.source{
    display: flex;
    justify-content: center;
    padding: 20px;
    border-top: 1px solid lightgray;
}
.source a{
    padding: 0 10px;
}
.source i{
    font-size: 18px;
    color: #4d4c4c;
    font-weight: 300;
}
#preloader{
    background: #E3FFE2 url(img/loader.gif) no-repeat center;
    background-size: 50%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10;
}